:root {
    --main-bg: hsl(222, 26%, 31%);
    --calc-bg: hsl(223, 31%, 20%);
    --calc-screen-bg: hsl(223, 37%, 15%);
    
    --key-color-1: hsl(30, 25%, 89%);
    --key-color-1-dark: hsl(28, 16%, 65%);
    --key-color-1-hovered: hsl(0, 0%, 100%);

    --key-color-2: hsl(225, 21%, 49%);
    --key-color-2-dark: hsl(224, 28%, 35%);
    --key-color-2-hovered: hsl(226, 36%, 72%);

    --key-color-3: hsl(6, 63%, 50%);
    --key-color-3-dark: hsl(6, 70%, 34%);
    --key-color-3-hovered: hsl(6, 78%, 61%);

    --text-color-1: hsl(221, 14%, 31%);
    --text-color-2: hsl(0, 0%, 100%);
    --text-color-3: hsl(0, 0%, 100%);
}

.light-mode {
    --main-bg: hsl(0, 0%, 90%);
    --calc-bg: hsl(0, 5%, 81%);
    --calc-screen-bg: hsl(0, 0%, 93%);
    
    --key-color-1: hsl(45, 7%, 89%);
    --key-color-1-dark: hsl(35, 11%, 61%);
    --key-color-1-hovered: hsl(0, 0%, 93%);

    --key-color-2: hsl(185, 42%, 37%);
    --key-color-2-dark: hsl(185, 58%, 25%);
    --key-color-2-hovered: hsl(184, 35%, 55%);

    --key-color-3: hsl(25, 98%, 40%);
    --key-color-3-dark: hsl(25, 99%, 27%);
    --key-color-3-hovered: hsl(25, 72%, 55%);

    --text-color-1: hsl(60, 10%, 19%);
    --text-color-3: hsl(60, 10%, 19%);
}

.spooky-mode {
    --main-bg: hsl(268, 75%, 9%);
    --calc-bg: hsl(268, 71%, 12%);
    --calc-screen-bg: hsl(268, 71%, 12%);
    
    --key-color-1: hsl(268, 47%, 21%);
    --key-color-1-dark: hsl(290, 70%, 36%);
    --key-color-1-hovered: hsl(268, 35%, 38%);

    --key-color-2: hsl(281, 89%, 26%);
    --key-color-2-dark: hsl(285, 91%, 52%);
    --key-color-2-hovered: hsl(281, 66%, 63%);

    --key-color-3: hsl(176, 100%, 44%);
    --key-color-3-dark: sl(177, 92%, 70%);
    --key-color-3-hovered: hsl(176, 100%, 73%);

    --text-color-1: hsl(52, 100%, 62%);
    --text-color-2: hsl(0, 0%, 100%);
    --text-color-3: hsl(52, 100%, 62%);
}

* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    color: var(--text-color-3);
}

.calc {
    width: clamp(280px, 40vw, 400px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calc--header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    font-size: 24px;
}

.theme {
    display: grid;
    grid-template: 1fr 1fr / repeat(6, 15px);
    font-size: 10px;
    text-align: center;
    align-items: center;
}

.span-1 {
    grid-row: 2;
    grid-column: 1 / 3;
}

.span-2 {
    grid-column: 4;
}

.span-3 {
    grid-column: 5;
}

.span-4 {
    grid-column: 6;
}


.selection-bar {
    grid-row: 2;
    grid-column: 4 / -1;
    width: 100%;
}

.calc--display {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    padding-inline: 20px;
    gap: 10px;
    background-color: var(--calc-screen-bg);
    border-radius: 7px;
    overflow: hidden;
}

#display-operation {
    font-size: .8em;
}

#display-currentNum {
    font-size: 2.4em;
}

.btn {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--key-color-1);
    border-bottom: 3px solid var(--key-color-1-dark);
    border-radius: 8px;
    color: var(--text-color-1);
    font-size: 32px;
}

.op-btn, .txt-btn {
    background-color: var(--key-color-2);
    color: var(--text-color-2);
    border-color: var(--key-color-2-dark)
}

.result-btn {
    background-color: var(--key-color-3);
    color: var(--text-color-2);
    border-color: var(--key-color-3-dark);
}

.op-btn, .result-btn {
    font-size: 25px;
}

.txt-btn {
    font-size: 18px;
}

.calc--buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    text-align: center;
    background-color: var(--calc-bg);
    padding: 20px;
    border-radius: 7px;
}

.calc--buttons > :nth-child(17) {
    grid-column: 1 / 3;
    grid-row: 5;
}

.calc--buttons > :nth-child(18) {
    grid-column: 3 / 5;
    grid-row: 5;
}

.btn:hover {
    background-color: var(--key-color-1-hovered);
}

.txt-btn:hover, .op-btn:hover {
    background-color: var(--key-color-2-hovered);
}

.result-btn:hover {
    background-color: var(--key-color-3-hovered);
}

/*Range style*/

input[type=range] {
    -webkit-appearance: none;
    margin: 0px 0;
    width: 100%;
    background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--calc-bg);
    border-radius: 10px;
    padding-inline: 2px;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 0px solid var(--key-color-3);
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: var(--key-color-3);
    cursor: pointer;
    -webkit-appearance: none;
    margin-block: 2px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--calc-bg);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--calc-bg);
    border-radius: 11px;
  }
  input[type=range]::-moz-range-thumb {
    border: 0px solid var(--key-color-3);
    height: 13px;
    width: 13px;
    border-radius: 15px;
    background: var(--key-color-3);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var(--calc-bg);
    border-radius: 22px;
  }
  input[type=range]::-ms-fill-upper {
    background: var(--calc-bg);
    border-radius: 22px;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 0px solid var(--key-color-3);
    height: 13px;
    width: 13px;
    border-radius: 15px;
    background: var(--key-color-3);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var(--calc-bg);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var(--calc-bg);
  }